body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #fdfdfd;
  color: #333;
}

header {
  background-image: url('../images/kolhapur-bg.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding: 60px 20px;
}

nav {
  background-color: #800000;
  padding: 10px;
  text-align: center;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 10px;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

section {
  padding: 20px;
  max-width: 800px;
  margin: auto;
}

footer {
  background-color: #800000;
  color: white;
  text-align: center;
  padding: 15px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
